<header>
  <h1>Reactive Forms Exercise</h1>
</header>
<div>
  <div id="menu">
    <ul class="menu-items">
      <li><a routerlink="/habits" routerLinkActive="active" ariaCurrentWhenActive="page">ROUTE 1</a></li>
      <li><a routerlink="/route2" routerLinkActive="active" ariaCurrentWhenActive="page">ROUTE 2</a></li>
      <li><a routerlink="/route3" routerLinkActive="active" ariaCurrentWhenActive="page">ROUTE 3</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
<app-habit-form [header] = "header"></app-habit-form>
